.techs-general {
    /* background-color: #fff; */
    padding: 5% 0;
    display: flex;
    justify-content: center;
}

.techs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.techs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.techs-tech-icons-container {
    display: flex;
    justify-content: center;
    max-width: 360px;
    margin: 40px 0;
}

.techs-tech-icon {
    max-width: 20%;
    animation: breath 2.4s infinite;
}

.techs-contact-link {
    color: #553c8b;
    border: .5px solid #553c8b;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.techs-tech-icon-delay1 {
    animation-delay: 0s;
}

.techs-tech-icon-delay2 {
    animation-delay: 0.4s;
}

.techs-tech-icon-delay3 {
    animation-delay: 0.8s;
}

.techs-tech-icon-delay4 {
    animation-delay: 1.2s;
}

.techs-tech-icon-delay5 {
    animation-delay: 1.6s;
}

.techs-tech-icon-delay6 {
    animation-delay: 2s;
}

@keyframes breath {
    12% {
        transform: translateY(-15px);
    }
    25% {
        transform: translateY(0px);
    }
}

@media (min-width: 901px) {
    .techs-contact-link:hover {
        color: #f9f6f2;
        background-color: #553c8b;
    }
}

@media (max-width: 900px) {
    .techs-container {
        width: 100% !important;
    }

    .techs-content {
        margin-top:  10px !important;
    }

    .techs-contact-link:active {
        color: #f9f6f2;
        background-color: #553c8b !important;
    }
    
}

@media (max-width: 480px) {
    .techs-tech-icons-container {
        width: 90% !important;
    }

    .techs-tech-icon {
        max-width: 18% !important;
    }
}

.card-link {
    text-decoration: none;
    color: #FFF;
}

.git-card {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 16px;
    margin-top: 32px;
    background-color: #161b22;
    color: #c9d1d9;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.2s ease;
    border: none;
}

.git-card:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.git-card .git-card-header {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #21262d;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
    border-bottom: 1px solid #252a31;
}

.git-card img {
    z-index: 1;
    width: 100px;
    border-radius: 50px;
    border: 1px solid #252a31;
}


.git-card span {
    color: #8b949e;
}