.nav-bar {
    z-index: 1;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #553c8b;
}

.nav-container {
    width: 900px;
    margin: 0px auto;
}

.nav-menu {
    display: inline-flex;
    width: stretch;
    list-style: none;
}

.nav-menu-item, .nav-drop-button  {
    width: stretch;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-link {
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
}

@media (min-width: 901px) {

    .nav-menu-link {
        border-bottom: 2px solid transparent;
        transition: .8s border;
    }

    .nav-menu-link:hover {
        border-bottom: 2px solid #fff;
    } 

    .nav-drop-button {
        display: none;
    }
}

@media (max-width: 900px) {

    .nav-bar {
        transition: .5s all;
    }

    .nav-container {
        max-width: 100%;
    }

    .nav-menu-item {
        display: none;
    }

    .nav-drop-button {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding-right: 5%;
    }

    .nav-drop {
        display: block;
        overflow: hidden;
        animation: slide-down-menu 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    .nav-drop .nav-menu-item, .nav-drop .nav-drop-button {
        display: flex;
        justify-content: center;
        width: 40%;
        margin: 0px auto;
        padding: 0;
        border-bottom: 2px solid #fff;
    }

    .nav-drop .nav-drop-button {
        border: none;
    }

    .nav-menu-link {
        cursor: pointer;
    }

    @keyframes slide-down-menu {
        0% {
            height: 50px;
        }
        100% {
            height: 310px;
        }
    }
}